<div>
  <table style="width:100%" id="directionsTextHeaders">
    <tr>
      <th>
        Directions
      </th>
      <th>
        Distance (km)
      </th>
      <th>
        Weather
      </th>
      <th>
        Weather Avatar/Icon
      </th>
      <th>
        Time (min)
      </th>
      <th>
        Total Distance (km)
      </th>
    </tr>
  </table>
  <table style="width:100%" id="directionsText">

  </table>
</div>

{{!--
<script>
  let steps = {{{ steps }}}
  console.log(steps)
</script> --}}