<div>
  <table style="width:100%" id="directionsText">
    <thead id="directions-header-row">
      <tr>
        <th class="directions-header" id="first-header" value="1">
          Directions
        </th>
        <th class="directions-header" value="1">
          Distance (km)
        </th>
        <th class="directions-header" value="1">
          Weather
        </th>
        <th class="directions-header" value="1">
          Weather Avatar/Icon
        </th>
        <th class="directions-header" value="1">
          Time (min)
        </th>
        <th class="directions-header" value="1">
          Total Distance (km)
        </th>
      </tr>
    </thead>
    <tbody id = "directionsTextBody">

    </tbody>

  </table>
  {{!--
  <table style="width:100%" id="directionsText">

  </table> --}}
</div>

{{!--
<script>
  let steps = {{{ steps }}}
  console.log(steps)
</script> --}}