<table style="width:100%" id="directionsText">
  <tr>
    <th>
      Directions
    </th>
    <th>
      Distance (km)
    </th>
    <th>
      Time (min)
    </th>
    <th>
      Weather
    </th>
    <th>
      Total Distance (km)
    </th>
  </tr>
</table>

{{!--
<script>
  let steps = {{{ steps }}}
  console.log(steps)
</script> --}}