<div class="container-fluid">
  {{!--
  <div class="nav-wrap"> --}}
    <!-- Navbar -->
    <nav class="navbar banner navbar-default header navbar-static-top">
      <h1>WELCOME TO GEOVANE!</h1>
      <div class="nav nav-tabs">
        <span class="{{#if homepage}}{{homepage}}{{/if}} nav-label">
          <a href="/" class="nav-label-txt">Home</a>
        </span>
        <span class="{{#if contact}}{{contact}}{{/if}} nav-label">
          <a href="/contact" class="nav-label-txt">Report a Bug</a>
        </span>
      </div>
    </nav>
    <!--  End navbar -->
    {{!-- </div>
</div> --}}
</div>