{{>navPanel}}
<div class="mainbody">
  <div class="maincontent">
    {{#if alert}}
    <h2>{{alert}}</h2>
    {{else}}
    <h2>No alert to show! :)</h2>
    {{/if}}
    <!-- ABOUT ME -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        </h3>
      </div>


      <div class="panel-body">
        <div>
          <div>
            <form action="/maps" method = "GET">
              <input type="text" name="start" placeholder="Starting Location" id="start-loc">
              <input type="text" name="end" placeholder="Ending Location" id="end-loc">
              <input type="submit" val="Submit" id="find-directions">
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>

  <code>
    {{{route}}}
  </code>

  {{>connect}}

</div>
{{>footer}}

    {{!-- Custom JavaScript --}}
    <script src="/app.js"></script> 

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACJfX_uzwAE9msrtK1TbDz8aN9JY18zBo&libraries=places&callback=pageLoad">
</script>
