{{>navPanel}}
<h2>Map</h2>
<div>
    <strong>Mode of Travel: </strong>
    <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
    </select>
</div>

<div id="floating-panel">
    <b>Start: </b>
    <input type="text" id="restart" placeholder="Starting Location">
    <b>End: </b>
    <input type="text" id="reend" placeholder="Ending Location">
    <button id="reroute">Submit</button>
</div>
<div id="map" style="height:800px; width:800px"></div>
<br>
<br>

{{>directiontext}}

<script>    
    var passedData = {
        directions: {{{ directions }}}
    }

    console.log(passedData)
    console.log(passedData.directions.routes[0].legs)


</script>
<script src="./mapDisplay.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACJfX_uzwAE9msrtK1TbDz8aN9JY18zBo&callback=initMap&libraries=places">
</script>